{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":91.96875,"scrollleft":0,"selection":{"start":{"row":6,"column":7},"end":{"row":6,"column":7},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":17,"state":"start","mode":"ace/mode/text"}},"timestamp":1578133224751,"hash":"12205eff3f9e7b20cc35ddc7f125e330358bf8a2"}