{% extends 'base.html' %} 
{% block content %}
  <br><br><br><br><br>
<div class="container">
  <div class="row">
     <div class="col-sm-12 col-md-5" id="right">
   <h1>Add a product</h1>
   <p>Help us grow our list of skincare products by contributing your best finds.<br><br>
   Countless new products are being released globally and it is hard to keep track of the latest trends.<br><br>
   By sharing new products with the community, everyone benefits from the research you have done!</p>
 </div>
    <div class="col-sm-12 col-md-7">
    
<form method="POST" enctype="multipart/form-data">
<fieldset>
  <div class="input>
    <label for="name">Product name:*</label><br>
    <input type="text" id="name" name="name" required>
  </div>
  <div class="input>
    <label for="price">Product price:*</label><br>
    <input type="number" id="price" name="price" required>
  </div>
  <div class="input>
    <label for="origin">Country of origin:*</label><br>
    <select name="country" required="required" class="validate">
      <option value = country>Country</option>
      {% for origin in origins %}
        <option value={{origin.country}}>{{origin.country}}</option>
       {% endfor%}
        </select>
  </div>
  <div class="input>
    <label for="volume">Quantity (ml):*</label><br>
    <input type="number" id="volume" name="volume" required>
  </div>
  <div class="input>
    <label for="brand">Product brand name:*</label><br>
    <input type="text" id="brand" name="brand" required>
  </div>
  <div class="input>
    <label for="type">Type:*</label><br>
    <select name="type" required="required" class="validate">
      <option value = type>Type</option>
      {% for type in types %}
        <option value={{type.type_cat}}>{{type.type_cat}}</option>
       {% endfor%}
       </select>
  </div>
  <div class="input>
    <label for="purpose">Purpose:*</label><br>
    <select name="purpose" required="required" class="validate">
      <option value = purpose>Purpose</option>
      {% for purpose in purposes %}
        <option value={{purpose.solution}}>{{purpose.solution}}</option>
       {% endfor%}
       </select
  </div>
  <div class="input>
    <label for="description">Description</label><br>
    <input type="textarea" id="description" name="description">
  </div>
      <form action="/upload-image" method="POST" enctype="multipart/form-data">
          <div class="input">
            <label for="image">Select image</label><br>
            <input type="file" name="product_image">
          </div>
        </div><br>
          <input type="submit" value="Submit"/>
      </form>
  </fieldset>
 </form>
 </div>
 </div>
 </div>
{% endblock %}