{% extends 'base.html' %} 
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <br><br><br><br><br><br><br><br>
    <div class="jbtext">
    <h1 class="display-4">The Skincare Diaries</h1><br>
    <p class="lead">Check out the latest skincare products here! We are a community of skincare lovers who want to help you find the best products to look your best! Feel free to contribute to our ever-growing list of skincare products.</p>
  <br>
  </div>
  </div>
</div>
{% endblock %}